.dropdown{
    position: relative;

}
.list{
    position: absolute;
    z-index: 10000;
    background-color: #ffffff;
    padding-inline-start: 0;
    border-radius: 8px;

}
.item{
    list-style-type: none;
    padding: 12px 6px;
    min-width:160px;
    cursor: pointer;
    line-height: 2;
    position: relative;
}
p{
    margin-bottom: 0;
}
.item:hover .list-1{
   display: block;
}
.list-1{
    position: absolute;
    left: 160px;
    display: none;
    background-color: #ffffff;
    z-index: 100000;
    top: 0px;
    padding-inline-start: 0;
}
.item-1{
    list-style-type: none;
    padding: 12px 6px;
    min-width:160px;
    cursor: pointer;
    line-height: 2;
    position: relative;
}
.list-2{
    position: absolute;
    left: 160px;
    display: none;
    background-color: #ffffff;
    z-index: 100000;
    top: 0px;
    padding-inline-start: 0;
}
.item-2:focus{
    background-color: rgb(180, 182, 184);
}
.item-2{
    list-style-type: none;
    padding: 12px 6px;
    min-width:2400px;
    cursor: pointer;
    line-height: 2;
    position: relative;
}
.item-1:hover .list-2{
    display: block;
 }